html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}
@media (min-width: 58em) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 115em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 125em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 145em) {
  body {
    font-size: 120%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    font-feature-settings: normal;
    /* Internet Explorer fix */
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.content-blog p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Cambo", "Times New Roman", serif;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,

h1, .h1 {
  font-size: 3em;
  line-height: 1.213483146em;
  font-weight: bold;
}

h2, .h2 {
  font-size: 2.4em;
  line-height: 1.25;
  margin: 0.4em 0;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.61em;
  line-height: 1.05em;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.714285714em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 .75em;
}

p,
label,
.btn,
.form-control,
.title h5,
.navbar,
.brand,
.btn-simple,
a,
.td-name,
td,
small,
.media h5,
.subtitle {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #777777;
  opacity: .7;
  font-size: 14px;
}
a:hover {
  color: #777777;
  opacity: 1;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}
.text-primary {
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.description {
  font-size: 16px;
  color: #777777;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle {
  outline: 0 !important;
}

/*           Animations              */


.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 10px 20px;
}
.btn-round.btn-icon {
  padding: 10px;
}

.btn-simple {
  border: 0;
  font-size: 14px;
  padding: 10px 20px;
}
.btn-simple.btn-icon {
  padding: 10px;
}

.btn-lg {
  font-size: 14px;
  border-radius: 4px;
  padding: 16px 32px;
}
.btn-lg.btn-round {
  padding: 17px 32px;
}
.btn-lg.btn-simple {
  padding: 18px 32px;
}

.btn-sm {
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 10px;
}
.btn-sm.btn-round {
  padding: 6px 10px;
}
.btn-sm.btn-simple {
  padding: 7px 10px;
}

.btn-xs {
  font-size: 10px;
  border-radius: 3px;
  padding: 5px 10px;
}
.btn-xs.btn-round {
  padding: 6px 10px;
}
.btn-xs.btn-simple {
  padding: 7px 10px;
}

.btn-wd {
  min-width: 140px;
}

.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #444444;
  padding: 10px 10px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #777777;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  border-color: #E3E3E3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control {
  color: #7accb8;
}
.has-success .form-control:focus {
  border-color: #7accb8;
}
.has-error .form-control {
  color: #e78b90;
}
.has-error .form-control:focus {
  border-color: #e78b90;
}
.form-control + .form-control-feedback {
  border-radius: 6px;
  font-size: 14px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  vertical-align: middle;
}
.open .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.input-lg {
  height: 55px;
  padding: 16px 32px;
}

.has-error .form-control-feedback {
  color: #e78b90;
}

.has-success .form-control-feedback {
  color: #7accb8;
}


.btn,
.navbar .navbar-nav > li > a.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 600;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.6em;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 10px 20px;
  border-color: #1d1308;
  text-transform: uppercase;
}

.section {
  padding-top: 35px;
  position: relative;
  background-color: #130c05;
}

.section {
  position: relative;
}
.section .title-area {
  max-width: 760px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #b68326;
}
.section [class*="col-"] .title-area {
  padding: 0;
}
.section .text-area {
  padding: 4.375em 0;
  position: relative;
  z-index: 3;
  display: block;
}
.section .text-area .description,
.section .text-area .description p {
  font-size: 16px;
  color: #777777;
}
.section .parallax {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.section .parallax > img,
.section .parallax .filter > img{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.filter {
  position: relative;
  height: 100%;
  color: #FFFFFF;
}
.filter:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  content: "";
  opacity: .7;
  background: #333;
}
.filter .title-area .description {
  color: #FFFFFF;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.nav > .social-links > a {
  display: inline-block;
}
.navbar {
  border: 0;
  font-size: 16px;
}
.navbar .navbar-brand {
  margin: 10px 0px;
  padding: 5px;
  font-size: 20px;
  line-height: 22px;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 18px;
}
.navbar .navbar-nav > .social-links > a {
  padding: 10px 5px;
}
.navbar .navbar-nav.navbar-uppercase > li > a {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .navbar-nav > li > a.btn {
  margin: 15px 3px;
  padding: 10px 20px;
}
.navbar .navbar-nav > li > a.btn-round {
  margin: 16px 3px;
}
.navbar .navbar-nav > li > a [class^="fa"] {
  font-size: 18px;
  position: relative;
  top: 1px;
  margin-top: -3px;
}
.navbar-default {
  background-color: #0a0603;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li > a:not(.btn) {
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #c5a47e;
}
.navbar-default .navbar-nav .navbar-toggle:hover, .navbar-default .navbar-nav .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-brand {
  color: #434547;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover {
  color: #c5a47e;
  border-color: #c5a47e;
}
.navbar-default:not(.navbar-transparent) .btn-neutral, .navbar-default:not(.navbar-transparent) .btn-neutral:hover, .navbar-default:not(.navbar-transparent) .btn-neutral:active {
  color: #777777;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-transparent {
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.navbar-toggle {
  margin-top: 19px;
  margin-bottom: 19px;
  border: 0;
}
.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-toggle .navbar-collapse,
.navbar-toggle .navbar-form {
  border-color: transparent;
}
.navbar-toggle.navbar-default .navbar-toggle:hover, .navbar-toggle.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-transparent .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar.navbar-fixed-top {
  transition: all .5s .1s;
}

.footer {
  background-color: #FFFFFF;
  line-height: 20px;
  /*border-top: 1px solid #DDDDDD;*/
  overflow: hidden;
}
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer hr {
  border-color: #DDDDDD;
}
.footer .title {
  color: #777777;
}
.footer .title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer-color-black,
.footer-transparent {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #FFFFFF;
}

.card {
  background: #130c05;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-bottom: 15px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card:not(.card-plain):not(.card-price):hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}
.card .subtitle-black {
  color: #141414;
}
.card a {
  opacity: .85;
}
.card:hover .header {
  opacity: 1;
}
.card h2 {
  margin-top: 0;
}
.card > img {
  width: 100%;
  border-radius: 5px;
}
.card .title {
  margin-bottom: 5px;
  color: #333333;
}

.section-header {
  padding: 0;
}
.section-header .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}
.section-header .content{
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-header h1{
  font-weight: 600;
  font-size: 4em;
  text-shadow: -0.5px 0.5px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}
/* HOME PAGE */
.section .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  display: block;
}

.section-tarifs {
  padding-bottom: 0;
}
.section-tarifs .container {
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 30vh;
  text-align: center;
}
.section-tarifs .parallax {
  height: auto;
}
.section-tarifs .image {
  height: 100%;
}
.section-tarifs .container {
  margin-top: 14vh;
  margin-bottom: 50px;
}
.card p {
  min-height: 0;
}

@media (max-width: 992px) {
  .section-header {
    padding: 0 !important;
  }
  .section-header .parallax, .section-header .static-image {
    height: 80vh;
  }
  .section-header .parallax:after, .section-header .static-image:after {
    height: 80vh;
  }
  .section-header .content {
    top: 50%;
  }
  .section-header .content h1, .section-header .content h5, .section-header .content p {
    margin: 0;
  }
  .section-header .content h1 {
    font-size: 4.5em;
    letter-spacing: 0.07em;
    line-height: 1.7;
  }
  .section-header .content h1 span {
    font-size: 1em;
  }
  .section-header .content h5 {
    font-size: 1.125em;
    margin-top: 50px;
  }
  .section-header .content .separator {
    width: 12em;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    line-height: 1.25;
  }
  h1.responsive-small {
    font-size: 2.3em !important;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
  }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
  }

  h4 {
    line-height: 1.11111111;
  }

  .navbar-transparent {
    background-color: transparent;
  }

  .wrapper {
    text-align: center !important;
    overflow: hidden;
  }

  .btn {
    margin: 0 auto 15px;
    float: none;
  }

  footer {
    padding-top: 15px;
  }
  footer .row .info {
    margin-top: 15px;
  }
  footer .row .info .title {
    text-align: center !important;
    margin-top: 25px;
  }
  footer .row .info ul {
    text-align: center;
  }
  footer .row div:first-child .title {
    margin-top: 0;
  }

  .navbar-transparent .navbar-brand {
    color: #FFFFFF;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bodyClick {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: auto;
  right: 300px;
  content: "";
  z-index: 1029;
  overflow-x: hidden;
}
body {
  position: relative;
}

.navbar-header {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: relative;
}

.wrapper {
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
  background-color: white;
}
.wrapper.transition {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.nav-open .wrapper {
  -webkit-transform: translate3d(-150px, 0, 0);
  -moz-transform: translate3d(-150px, 0, 0);
  -o-transform: translate3d(-150px, 0, 0);
  -ms-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
}

.nav-open .navbar .navbar-header {
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

@media (min-width: 768px) {
  .navbar-form {
    margin-top: 21px;
    margin-bottom: 21px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar-search-form {
    display: none;
  }

  .section-pricing [class*="col-"]:not(:first-child):not(:last-child) > .card:not(.card-black) {
    border-radius: 0;
  }
  .section-pricing .card:not(.card-black) {
    box-shadow: none;
  }
  .section-pricing [class*="col-"]:first-child > .card:not(.card-black) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .section-pricing [class*="col-"]:last-child > .card:not(.card-black) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .footer:not(.footer-big) nav > ul li:first-child {
    margin-left: 0;
  }

  .nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

  .navbar-burger .container {
    padding: 0 15px;
  }
  .navbar-burger .navbar-header {
    width: 100%;
  }
  .navbar-burger .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  body > .navbar-collapse .navbar-nav,
  body > .navbar-collapse .navbar-nav > li {
    float: none;
  }
  body > .navbar-collapse .navbar-nav > li {
    float: none;
  }
}
/*          Changes for small display      */
@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }

  #bodyClick {
    right: 230px;
  }

  .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    border-left: 1px solid #e3e3e3;
    padding-right: 15px;
    padding-left: 15px;
    max-height: none !important;
    -webkit-transform: translate3d(230px, 0, 0);
    -moz-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .navbar-collapse ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 100%;
  }
  .navbar-collapse .nav > li {
    border-bottom: 1px solid #333;
    padding-right: 15px;
  }
  .navbar-collapse .nav > li:last-child {
    border-bottom: 0;
  }
  .navbar-collapse .nav > li > a {
    margin: 0px 0px;
    color: #434547;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    padding: 24px 0;
  }
  .navbar-collapse .nav > li > a:hover, .navbar-collapse .nav > li > a.active {
    color: #c5a47e;
  }
  .navbar-collapse .nav > li.social-links {
    text-align: center;
    margin-left: -40px;
  }
  .navbar-collapse .nav > li.social-links > a {
    font-size: 18px;
    padding: 24px 15px;
  }
  .navbar-collapse::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    content: "";
    z-index: 1;
  }

  .navbar .container {
    left: 0;
  }

  .nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-115px, 0, 0);
    -moz-transform: translate3d(-115px, 0, 0);
    -o-transform: translate3d(-115px, 0, 0);
    -ms-transform: translate3d(-115px, 0, 0);
    transform: translate3d(-115px, 0, 0);
  }

  .navbar-nav {
    margin: 0;
  }
  .navbar-nav .dropdown .dropdown-menu > li > a {
    padding: 10px 15px 10px;
  }
  .navbar-nav .dropdown .dropdown-menu > li:first-child > a {
    padding-top: 0;
  }
  .navbar-nav .dropdown .dropdown-menu > li:last-child > a {
    padding-bottom: 20px;
  }

  [class*="navbar-"] .navbar-nav > li > a,
  [class*="navbar-"] .navbar-nav > li > a:hover,
  [class*="navbar-"] .navbar-nav > li > a:focus,
  [class*="navbar-"] .navbar-nav .navbar-nav .open .dropdown-menu > li > a:active {
    color: white;
  }
  [class*="navbar-"] .navbar-nav .active > a,
  [class*="navbar-"] .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #434547;
  }
  [class*="navbar-"] .navbar-nav > li > a,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a {
    opacity: .7;
    background: transparent;
  }
  [class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a:focus,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:hover,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:focus {
    opacity: 1;
  }
  [class*="navbar-"] .navbar-nav.navbar-nav .open .dropdown-menu > li > a:active {
    opacity: 1;
  }
  [class*="navbar-"] .navbar-nav .dropdown > a:hover .caret {
    border-bottom-color: #777;
    border-top-color: #777;
  }
  [class*="navbar-"] .navbar-nav .dropdown > a:active .caret {
    border-bottom-color: white;
    border-top-color: white;
  }

  .navbar-fixed-top {
    -webkit-backface-visibility: hidden;
  }

  .text-center {
    margin-top: 20px;
  }
}