html {
  height: 100%;
}

body {
  font-family: 'Vibes', cursive;
  background-color: #130c05;
}

h1 {
  font-size: 35px;
  letter-spacing: 2px;
  padding: 10px;
  margin: 100px auto;
  text-align: center;
  color: var(--main-bg-color);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 10em;
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 35px;
  padding-top: 10px;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-weight: 700;
}

.col-md-4 #img {
  width: 30rem;
}

#map {
  height: 17rem;  /* The height is 400 pixels */
}

#row {
  margin-top: 50px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
  flex-wrap:  wrap;
}


.col-md-6, .col-md-3, .col-md-4 {
  height: 100%;
  margin: 12px 0;
}

.image{
  width: 25em;
  text-align: center;
}

.INFO {
  padding-top: 10px;
  float: left;
  color: white;
  clear: left;
}

.INFO span{
  text-transform: none;
  font-weight: normal;
}

.PRIX {
  padding-top: 10px;
  padding-right: 28px;
  float: right;
  color: white;
}

.TARIFS {
  background: black;
  text-transform: uppercase;
  padding: 20px 0px 50px 0px;
}