html {
  height: 100%;
}

body {
  font-family: 'Vibes', cursive;
  background: #130c05;
}

h2 {
  text-transform: uppercase;
}

.btn-block {
  padding: 2em;
  border-radius: 50px;
}

.coiffure {
  width: 100%;
  padding: 0 0px;
  border-radius: 5px;
  border: 1px solid rgb(182, 131, 38);
}

.section-tarifs h3 {
  font-size: 4em;
}

.card-title {
  color: #333;
  font-size: 2.5em;
}

.btn-primary {
  margin-top: 4.5em;
  border-radius: 15px;
  color: white;
  background-color: #2c1c0b;
  opacity: 1;
}

.btn-primary:hover {
  background-color: #362108;
  border: 1px solid black;
}

.card {
  margin: auto;
  width: 60%;
}

#plus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#largeCard {
  width: 45%;
}

@media (max-width: 992px) {
  h1 {
    letter-spacing: 0em;
  }

  .card {
    margin: auto;
    width: 100%;
  }

  #largeCard {
    width: 80%;
  }
}

#preshoraires {
  padding-top: 6px;
  border: 1px solid  white 
}

#salon {
  margin-top: 25px;
}

#containerTarifs {
  margin-top: 35px;
}

.text-primary {
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  border-radius: 15px;
  color: white;
  background-color: #2c1c0b;
  opacity: 1;
}
.btn, .navbar .navbar-nav > li > a.btn {
  border-width: 1px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6em;
  padding: 10px 20px;
  border-color: #1d1308;
  text-transform: uppercase;
}
p, label, .btn, .form-control, .title h5, .navbar, .brand, .btn-simple, a, .td-name, td, small, .media h5, .subtitle {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* navbar */

.navbar-default .navbar-nav > li > a:not(.btn) {
  background: -webkit-linear-gradient(#f0cc57, #eea022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .navbar-nav.navbar-uppercase > li > a {
  font-size: 0.9em;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 18px;
}

@media (min-width: 768px)
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom : 15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover{
  text-decoration: underline #eea022;
}
a {
    color: #777777;
    opacity: .7;
    font-size: 1.3em;
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.row > div {
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.navbar-default {
}